
<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title | Wallboards</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Google Font Roboto -->
    <link rel="stylesheet" href="/assets/fonts/font-roboto.css">

    <link href="~/Assets/css/dashboard.css" rel="stylesheet" />

    @RenderSection("css", false)

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Wallboards</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                     <a class="nav-link" href="@Url.Action("Index","Center")">Центр</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","IT")">ИТ</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" method="post" action="@Url.Action("LogOff","Account")">
                @Html.AntiForgeryToken()
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div> 
    <!-- container -->

    <!-- Scripts -->
    <script src="~/assets/js/jquery-3.1.0.min.js"></script>
    <script src="~/assets/js/tether.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    @RenderSection("js", false)

</body>
</html>